* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url("../img/food-bg.webp") no-repeat fixed ;
    background-size: cover;
}

body {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    font-size: 5rem;
    margin-top: 30px;
    margin-bottom: 100px;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

ol {
    text-align: left;
}



a {
    text-decoration: none;
    color: rgb(244, 242, 242);
    font-size: 16px;
    font-weight: 800;
}

a:hover {
    
    color: rgb(155, 236, 248);
}

.recipe-item {
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 10px;
    padding-top: 125px;
    border: solid 3px black; 
    transition: all .2s ease-in-out;
}

.recipe-item:hover {
    transform: scale(1.075);
}

.chicken-alfredo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/alfredo.webp");
    
}

.chicken-enchilada-casserole {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/chicken-enchilada-casserole.webp);
}

.lasagna {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/lasagna.webp);
}
