html {
    background: url("../img/food-bg.webp") no-repeat fixed ;
    background-size: cover;
}

body {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-family: "Lucida Console", "Courier New", monospace;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

ol {
    text-align: left;
}

a {
    text-decoration: none;
    color: rgb(18, 64, 230);
}

a:hover {
    color: rgb(107, 142, 239);
}