* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url("../img/food-bg.webp") no-repeat fixed ;
    background-size: cover;
}

body {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

ol {
    text-align: left;
}



a {
    text-decoration: none;
    color: rgb(18, 64, 230);
}

a:hover {
    color: rgb(107, 142, 239);
}

.recipe-item {
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 10px;
    padding-top: 125px;
    background-color: aqua; 
}
